
.categories {
  display: flex;
  flex-wrap: wrap;
}

.typo-categories {
  font-size: 20px !important;
  align-items: flex-start;
  text-align: center !important;
}

.category {
  width: 100%;
  background: rgb(255, 255, 255);
  box-shadow: rgb(93 62 188 / 10%) 0px 6px 16px;
  align-items: center;
  padding: 5px;
  cursor: pointer;
  transition: 200ms;
  
}
.category img {
  width: 35px;
}
.category:hover {
  background-color: #f3f0fe;
}

.list-products {
  display: flex;
  flex-wrap: wrap;
  height: max-content
}

.list-products .card {
  width: 125px;
  height: 195px;
  text-align: center;
  align-items: center;
  justify-content: end;
  margin: 5px;
  transition: 200ms;
  cursor: pointer;
}

.list-products .card:hover{
  background-color: #f3f0fe;
}

.card .img {
  width: 40px;
}
.itemPrice{
  color: #7048ff;
}

.kategory-input{
  transition: 500ms;
}

span input{
  display:inline-block;
  transition: 500ms;
  border-radius: 4px;
  left: 15px;
  width: 120px;
  outline: none;
  position: absolute;
  border: 2px solid #7048ff;
 transition: cubic-bezier(1, 0.05, 1, 1.76);
 
}
 span input:focus{
  width: 27vh;
  
}
