
.categories {
  display: flex;
  flex-wrap: wrap;
}

.typo-categories {
  font-size: 20px !important;
  align-items: flex-start;
  text-align: center !important;
}

.category {
  width: 100%;
  background: rgb(255, 255, 255);
  box-shadow: rgb(93 62 188 / 10%) 0px 6px 16px;
  align-items: center;
  padding: 5px;
  cursor: pointer;
  transition: 200ms;
  
}
.category img {
  width: 35px;
}
.category:hover {
  background-color: #f3f0fe;
}

.list-products {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  
  height: max-content;
  
}

.list-products .card {
  width: 125px;
  height: 195px;
  text-align: center;
  align-items: center;
  justify-content: end;
  margin: 5px;
  transition: 200ms;
  cursor: pointer;
}

.list-products .card:hover{
  background-color: #f3f0fe;
}

.card .img {
  width: 40px;
}
.itemPrice{
  color: #7048ff;
}

.kategory-input{
  transition: 500ms;
}

.categoryText{
  color: #7048ff;
  font-weight: 600;
}

span input{
  display:inline-block;
  transition: 500ms;
  border-radius: 4px;
  left: 15px;
  width: 120px;
  outline: none;
  position: absolute;
  border: 2px solid #7048ff;
 transition: cubic-bezier(1, 0.05, 1, 1.76);
 
}
 span input:focus{
  width: 27vh;
}

.mainBasket{
  background: rgb(255, 255, 255);
  box-shadow: rgba(99, 48, 252, 0.1) 0px 6px 16px;
  border-radius: 4px;
}

.basketCard{
  height: 100px;
  width: max-content;
  background-color: #fcfbff54;
  display: flex;
  align-items: center;
  text-align: center;
  

  border-radius: 6px;
  transition: 150ms;
}
.basketCard:hover{
  background-color: #e9e3ff54;
}

.cardContent{  
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.x{
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  padding: 2px;
  cursor: pointer;
  transition: 200ms;
}
.x:hover{
  background-color: #bfcddb;
  
}

.disabledBtn{
  border-radius: 6px;
  font-weight: 500;
  padding: 5px;
  background-color: #4c3398 !important;
  color: #ffd300 !important;
}


@media screen and (max-width: 600px) {
  .product-categories{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
  }
  .category {
    display: flex;
    width: max-content;
    justify-content: flex-start;
    text-align: start;
    border: 1px solid #4c3398;
    border-radius: 15px;
    margin: 5px 5px;
  }
  .category span{
    font-weight: 500;
    display: flex;
    flex-wrap: wrap;
    word-wrap:break-word;
    font-size: 2vw;
  }
  .list-products{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 100%;
  }
 
  .list-products .card{
    width: 75px;
  }  
  .mainBasket{
    width: 100%;
  }
}



@media screen and (max-width: 800px) {
  
  .categories .card{
    display: flex;
    justify-content: center;
    width: max-content;
    border-radius: 25px;
   height: 40px;
   margin: 5px;
   border: 2px solid #4c3398;
  
  }
  .categories .card img{
    display: none;
  }
  
}
